<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 100%; 
        position: absolute;
      }
    </style>
  </head>
<body>
<div class="contenedorMapaElegir">
   <!--este es el bloque donde estan todas las cosas de la izquierda, botones y textos-->
   <div class="gridIzquierdaElegirMapa">
       <div class="">
       	    <button type="button" class="btn btn-success normal" id="botonSeleccionarMapa">Seleccionar</button> 
            <button type="button" class="btn btn-danger normal" id= "botonCancelarSeleccionarMapa">Cancelar</button>
       </div>	
       
       <div class="mensajesAyudaElegirMapa">
       	<strong>
       	    <p class="textoNormal">1) Posicionar el mapa de la derecha segun la superficie del campo que quiere agregar al bloque tres.</p>
       	    <p class="textoNormal">2) Una vez posicionado apretar seleccionar para proceder.</p>
       	</strong>
       </div>
   </div>

   <!--este es el bloque donde estan todas las cosas de la derecha, mapa-->
   <div id="gridDerechaMapaHuertosSeleccionarMapa" >

      <!--div del mapa que toma todo el contenido del grid-->
   	  <div id="map"></div>
   </div>

</div>



<!--form para subir la imagen-->
    <div class="card seleccionarMapaCampo"  >
                     <div class="card-body">
                             <%=form_for @campo, url: user_campo_path(current_user, @campo), method: :patch, :html => {:id => "guardandoUrlBaseDiesParaCampo"} do |form| %>
                                  <%=form.text_area :imagenTres, id: "imagenMapaAUsar"%>
                                    
                             <%end%>      
                     </div>                
    </div>  

<!--alerta oculta que se muestra cuando ya e seleciona el contenido del mapa-->
    <div id="avisoGuardandoMapa" class="alert alert-success" role="alert">
        <strong>Guardando Mapa Seleccionado</strong>
    </div>




   <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          disableDefaultUI: true,
          center: {lat: -34.397, lng: 150.644},
          mapTypeId: 'satellite',
          zoom: 4,
          disableDefaultUI: true,
          zoomControl:true,
          
        });
        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Localizacion encontrada');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Use el mapa para buscar la superficie del campo' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw0qTNMC2t5zxr3jpIoiLCwk7zlHnml6A &callback=initMap">
    </script>
  </body>
</html>


