<div class="contenedorFondoFichaGenerica">
  <div class="opcionesArribaFichaGenerica usadoEnIndexCampos letraNormal">
     <strong>Campos </strong>
    <div>
      <button id="botonCrearCampo" type="button" class="btn botonNaranjo" data-toggle="modal" data-target="#crearCampoModal">
        + Campo
      </button>
      <!--<button id="botonCompararCampos" type="button" class="btn botonAzul" >
        Comparar 
      </button>-->
    </div>
  </div> 
  <!-- fin opciones arriba --------->

  <div class="contenedorLinkSuperioresMasContenidoFichaGenerica usadoEnIndexCampos">
    <div id="listaCampos" class="letraNormalChica">
     <%=render @campos%>         
    </div>

    <div class="modals">
    <!--crear un campo   -->
    <%=render "form"%>
    <!--editar un campo-->
    <!--borrar un campo-->
  </div>
</div>
</div> <!--finContenedorFondoFichaGenerica-->




            






