<div class="contenedorFondoListaGrande">

    <div class="barraArribaListaGrande">
      <div id="">
        <h5><strong> Equipos campo: <%=@campo.nombre%></strong></h5>
      
      </div>
      <div class="botonesBarraArribaListaGrande">
              <%=link_to(button_tag("+ Equipo", class: "btn botonNaranjo botonBarraArribaListaGrande" ),new_user_campo_equipo_path(current_user,@campo), method: :get  )%>
      </div>
    </div> 
    <div class="listaGrande">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="filaSuperiorListaGrande">
          <th class="tituloColumnaListaGrande" scope="col">Tipo</th>
          <th class="tituloColumnaListaGrande" scope="col">Marca</th>
          <th class="tituloColumnaListaGrande" scope="col">Modelo</th>
          <th class="tituloColumnaListaGrande" scope="col">Año</th>
          <th class="tituloColumnaListaGrande" scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>  
      <tbody>
          <% @adentroTablaEquipo = true %>
          <%=render partial: "equipo", collection: @equipos, locals: {campo: @campo}%>
          <% @adentroTablaEquipo = false %>
      </tbody>
    </table>
  </div>
</div>


<!--+++++++++++++++++modals para confirmar borrar un equipo+++++++++++++++++++++++++++++++++-->
<div class="contenedorModalsBorrarEquipo"> 
<% @adentroContenedorModalsBorrarEquipo = true %>
<%=render partial: "equipo", collection: @equipos, locals: {campo: @campo}%>
</div>
<% @adentroContenedorModalsBorrarEquipo  = false %>
<!--+++++++++++++++++fin modals para confirmar borrar un empleado++++++++++++++++++++++++++++-->



