<div class="contenedorFondoFichaGenerica">
  <div class="opcionesArribaFichaGenerica">
      <h5><strong> Parametros del campo: <%=" "+@campo.nombre%></strong></h5> 
      
  </div>
  <div class="contenedorLinkSuperioresMasContenidoFichaGenerica">

    <!--LinksSuperioresEmpleado-->
    <div class="linksSuperioresFichaGenerica"> 
        <ul class=" listaLinksFichaGenerica">
          <li class="elementoListaLinksFichaGenerica">
              <%=link_to("Pagos a Empleados",user_campo_gestion_cesantia_seguros_path(current_user,@campo), :method => "get", class: "linkFichaGenerica ")%>
          </li>
        </ul>
    </div><!--fin LinksSuperioresEmpleado-->


    <div class="FichaGenerica">
      <div class="contenedorMiniListaContenida"></div>
        <table class="table table-striped table-bordered tablaPagos ">
          <thead>
            <tr class="filaSuperiorMiniListaContenida">
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Motivo</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Fecha</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila" >Forma de pago</th>
              <th class="tituloColumnaMiniListaContenida columnaInformacionMiniListaContenidaCuatroPorFila">Monto</th>
              <th class="tituloColumnaBotonMiniListaContenida columnaImagenesDerechaMiniListaContenida" > <%=link_to(button_tag("+ Pago", class: "btn botonNaranjo botonAgregarPago " ),new_user_campo_empleado_empleado_pago_path(current_user,@campo), method: :get  )%></th>
            </tr>
          </thead>  
          <tbody>
            <% @adentroTablaEmpleado_pagos = true %>
            <%=render partial: "empleado_pago", collection: @empleado_pagos, locals: {campo: @campo, empleado: @empleado }%>
            <% @adentroTablaEmpleado_pagos = false %>
          </tbody>
        </table>
      </div><!--fin contenedorMiniListaContenida-->
    </div><!--fin FichaEmpleado-->
  </div><!--fin LinksSuperioresEmpleadoMasContenido-->
</div><!--fin contenedorFondoShowFichaEmpleado-->