/*---------------------------------- Ficha generica--------------------------------------*/
.contenedorFondoFichaGenerica{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(94vh - 5px);
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	padding-left:0.8%;
	padding-right: 0.8%;
	background-color: #f0e6c8;
} 
.opcionesArribaFichaGenerica{  
	position: relative;
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 2300px;
	margin-top: 15px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px; 
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}
/*----------------------------------------------------------------------------*/
.contenedorLinkSuperioresMasContenidoFichaGenerica{
	position: relative;
	width: 100%;
	max-width: 2300px;
	margin-top: 25px;
	margin-left: 0px;
}  
/*-----------------------------------------------------------------------------*/
.listaLinksFichaGenerica{
	display: flex;
	flex-direction: row;
    margin:0px;
    border-bottom: none;
}
.elementoListaLinksFichaGenerica{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 140px;
	min-height: 45px;
	background-color: white;
	box-shadow: 0 -1px 6px 0px rgba(0,0,0,0.2);
}
.linkFichaGenerica{
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-left: 4px;
	padding-right: 4px;
	/*font-size: 16px;*/
	font-weight: bold;
	color: #505050;
}
.linkFichaGenerica.linkSeleccionadoFichaGenerica{
	color: white;
	background-color: #505050;
}
/*------------------------------ Ficha generica contenedor principal-------------------------------*/
.FichaGenerica{
	position: relative;
	width: 100%;
	
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19);
}
.contenedorFichaGenericaConPadings{
    min-height: 200px;
	padding-top: 18px;
	padding-bottom: 2px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 25px;
}
.tituloFilaFichaGenerica{  
	
}
.filaFichaGenerica{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.columnaFilaFichaGenerica{
	padding-left: 3px;
	padding-right: 3px;
}
/*------------------elegimos que columna usar dependiendo de cuantas tiene una fila-------------*/
.columnaFilaFichaGenerica.UnaColumnaPorFila{
    width: 100%;
    max-width: 100%;
}
.columnaFilaFichaGenerica.DosColumnasPorFila{
    width: 49%;
    max-width: 49%;
}
.columnaFilaFichaGenerica.TresColumnasPorFila{
	width: 32.8%;
	max-width: 49%;
}
/*--------------- los elementos que van en las columnas de una fila---------------*/
.elementoColumnaFilaFichaGenerica{
	font-size: 18px;
	margin-bottom: 5px;
}
.elementoFichaGenericaConBordeEnDerecha{
	border-right: solid;
	border-width: 0.3px;
	border-color:#505050;
}
.elementoFichaGenericaConBordeEnIzquierda{
	border-left: solid;
	border-width: 0.3px;
	border-color:#505050;
}
.elementoFichaGenericaConBordeAbajo{
	border-bottom: solid;
	border-width: 0.3px; 
	border-color:#505050;
}
.elementoFichaGenericaConBordeArriba{
	border-top: solid;
	border-width: 0.3px;
	border-color:#505050;
}

.elementoNegritaConMargenALaDerecha{
	margin-right: 15px;
}


/*--------------------------*/

