/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

@import "font-awesome.css";
/* -------------------------------------------------------------------------------------------*/
/*propiedad de las tablas de bootstrap*/
.table{
	margin-bottom: 0px;
}
.td{
	overflow: hidden;
}
.tr{
	overflow: hidden;
}

/* aca estan los estilos de las cosas generales*/
body{ 
	opacity: 1 !important;
	background-color: rgb(245, 249, 252);
}
ul{
	list-style-type: none;
	padding-left: 0%;	
}
/* -------------------------------------------------------------------------------------------*/
/* Estilos de la barra de navegacion superior*/
.barraSuperiorNavegacion{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 40px;
	background-color: #333333; /*#000064*/
	color: white;
	z-index: 100000;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0, 0.19); 
}
.barraSuperiorNavegacionCosasIzquierda{
	margin-left: 20px; 
}
.barraSuperiorNavegacionCosasDerecha{
	margin-right: 20px;
}

/* -------------------------------------------------------------------------------------------*/
/* para hacer que los modal no muevan el background*/
.modal {
	/*nunca modificar el position de un modal*/
	padding-top: 70px;
    overflow-y: auto;
}
.modal-open {
    overflow: auto;
}
.modal-open[style] {
   padding-right: 0px !important;
}
.close{
	cursor: pointer;
}
.modal-body{
	position: relative;
	word-break: break-all;
}

/* -------------------------------------------------------------------------------------------*/
/* para las opciones de editar o borrar con icono, o la que sea necesario*/
.fotoOpcion{
	width: 15px;
	margin-left: 10px;
	cursor: pointer;
}

/* -------------------------------------------------------------------------------------------*/
/*para los botones que se ocupan a cada rato*/
.btn{
	cursor: pointer;
}
.btn.botonVerde{
	font-weight: 450;
	color: #f5f8fa;
	font-size: 14px; 
	background-color: #007c41;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0, 0.19);
}
.btn.botonRojo{
	font-weight: 450;
	color: #f5f8fa;
	font-size: 14px; 
	background-color: #cc0033;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0, 0.19);
}
.btn.botonNaranjo{
	font-weight: 450;
	color: #f5f8fa;
	font-size: 14px; 
	background-color: #f57814;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0, 0.19);
}
.btn.botonAzul{ 
	font-weight: 450;
	color: #f5f8fa;
	font-size: 14px; 
	background-color: #10167f;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0, 0.19);
}
 
/* -------------------------------------------------------------------------------------------*/
/* para regular el tamaño de las letras*/
.letraChica{
	font-size: 9.5px;     
}
.letraNormalChica{
	font-size: 11.5px;
}
.letraNormal{
	font-size: 13px;      
}
.letraGrande{ 
	font-size: 18px; 
}
 
